@import "../../../../../styles/variables";

.indicators {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  gap: 10px;

  h2 {
    font-size: 14px;
    font-weight: 400;
    width: 150%;
  }

  h3 {
    color: var(--c-text-second);
    text-align: right;
    font-size: 12px;
    font-weight: 400;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    align-self: end;
  }

  li {
    display: grid;
    grid-template: repeat(2, 1fr) / auto 100px;
    row-gap: 7px;
    padding: 20px;
    height: inherit;
  }
}

@include _1170 {
  .indicators li {
    grid-template: repeat(4, auto) / auto;
    row-gap: 0px;
    padding: 10px;
  }
}

@include _768 {
  .indicators {
    grid-template: 1fr / repeat(3, 1fr);
    gap: 24px;

    li {
      width: 100%;
    }
  }
}

@include _600 {
  .indicators {
    grid-template: repeat(3, 1fr) / 1fr;

    li {
      width: 100%;
    }
  }
}
