.investors-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 10px;

  &__item {
    display: flex;
    height: 24px;
    width: 100px;
    border-radius: 20px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 8px 4px 5px;
    font-size: 11px;
    line-height: 10px;
  }
}
