.order-book-chart {
  &__titles {
    display: flex;
    justify-content: space-between;
    color: var(--c-text-second);
    font-size: 12px;
    font-weight: 400;
    margin: 14px 0;
  }

  &__chart {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 180px;

    ul {
      position: absolute;
      top: -7px;
      left: 10px;
      width: 100%;
      z-index: 10;

      li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        margin: 11px 0;
        color: var(--c-text-three);
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        cursor: pointer;

        span:first-child {
          color: var(--c-green-light);
        }
      }
    }
  }
}
